<include file='public/header' />
<style>
	.x-index_search{
	width:100%;height:500px;padding-left:22%;overflow:visible;
	}
</style>
<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>网站详情</small></div>
    </div>

    <ul style="margin-left: 500px; width: 500px;padding-left:190px;" class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
      <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-toggle-off"></span><br/>普通会员<br/>{$vip1}</a></li>
      <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-toggle-on"></span><br/>VIP会员<br/>{$vip2}</a></li>
     <!-- <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-line-chart"></span><br/>网站访问<br/>80082</a></li>
      <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>在线用户<br/>{$nums}</a></li>-->
    </ul>
<!--<form action="{:U('Index/userList',array('num'=>88))}" method="get">-->
   		<!--<div class="x-index_search">-->
   		<!--<div style="float:left">-->
            <!--<select name="vip"   data-am-selected>-->
                <!--<option value="">选择会员类型</option>-->
                <!--<option value="1"  >普通会员</option>-->
                <!--<option value="2"  >vip会员</option>-->
            <!--</select>-->
		<!--</div>-->
		<!--<div class="am-u-lg-6">-->
	    <!--<div class="am-input-group">-->
	      <!--<input type="text" class="am-form-field">-->
	      <!--<span class="am-input-group-btn">-->
	        <!--<button class="am-btn am-btn-default" type="submit"><span class="am-icon-search"></span> </button>-->
	      <!--</span>-->
	    <!--</div>-->
	  <!--</div>-->
  <!--</div>-->
  <!--</form>-->
<include file='public/footer' />
