<div style="clear: both;"></div>
<div class="footer">
	<ul>
		<li><a href="{:U('Online/chatroom')}">幸福在线</a></li>
		<li><a href="{:U('Index/spacemess')}">我的空间</a></li>
		<li><a href="{:U('Hudong/interaction')}">互动专区</a></li>
		<li><a href="{:U('Index/search')}">搜索查找</a></li>
		<li><a href="{:U('Youyue/everyday')}">每日有约</a></li>
		<li><a href="{:U('Baodian/lovestory')}">成功故事</a></li>
		<li><a href="{:U('Money/recharge')}">充值服务</a></li>
		<li><a href="{:U('Index/help')}?id=4">免责申明</a></li>
		<li><a href="{:U('Index/help')}">网站帮助</a></li>

	</ul>
	<p>Copyright 2016-2019 幸福在线</p>
</div>
</body>
<script src="__PUBLIC__/assets/js/SuperSlide.js"></script>
<script src="__PUBLIC__/assets/js/my.js"></script>
<script src="__PUBLIC__/assets/layer/layer.js"></script>
<script src="__PUBLIC__/assets/js/plupload.js"></script>
</html>