<include file='public/header' />
<!-- ft_info_box -->
<div class="content">
    
    <div class="x-live_header">
    	<h1>幸福在线一台</h1>
    </div>
    <div class="x-live_main">
    	<div class="x-live_main_left">
	    	<div class="x-live_list01">
	    		<a href="#">
	    			<img src="__PUBLIC__/assets/images/x-meinv.jpg">
	    			<div class="x-live_mask01"><img src="__PUBLIC__/assets/images/x_big_sxt.png"></div>
	    		</a>
	    		<a href="javascript:" class="x-live_love">❤</a>
	    		<div class="x-live_triangle"></div>
	    		<span>a</span>
	    		<div class="x-live_administrate">
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_mic.png" style="width:10px;height:20px;margin-top:5px;margin-left:20px"></a>
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_jiantou.png" style="width:20px;height:20px;margin-top:5px;margin-left:20px"></a>
	    		</div>
	    	</div>
	    	<div class="x-live_list02">
	    		<a href="#">
	    			<img src="__PUBLIC__/assets/images/x-meinv.jpg">
	    			<div class="x-live_mask02"><img src="__PUBLIC__/assets/images/x_big_sxt.png"></div>
	    		</a>
	    		<a href="javascript:" class="x-live_love">❤</a>
	    		<div class="x-live_triangle_blue"></div>
	    		<span>b</span>
	    		<div class="x-live_administrate">
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_mic.png" style="width:10px;height:20px;margin-top:5px;margin-left:20px"></a>
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_jiantou.png" style="width:20px;height:20px;margin-top:5px;margin-left:20px"></a>
	    		</div>
	    	</div>
	    	<div class="x-live_list03">
	    		<a href="#">
	    			<img src="__PUBLIC__/assets/images/x-meinv.jpg">
	    			<div class="x-live_mask03"><img src="__PUBLIC__/assets/images/x_big_sxt.png"></div>
	    		</a>
	    		<a href="javascript:" class="x-live_love">❤</a>
	    		<div class="x-live_triangle"></div>
	    		<span>c</span>
	    		<div class="x-live_administrate">
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_mic.png" style="width:10px;height:20px;margin-top:5px;margin-left:20px"></a>
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_jiantou.png" style="width:20px;height:20px;margin-top:5px;margin-left:20px"></a>
	    		</div>
	    	</div>
	    	<div class="x-live_list04">
	    		<a href="#">
	    			<img src="__PUBLIC__/assets/images/x-meinv.jpg">
	    			<div class="x-live_mask04"><img src="__PUBLIC__/assets/images/x_big_sxt.png"></div>
	    		</a>
	    		<a href="javascript:" class="x-live_love">❤</a>
	    		<div class="x-live_triangle"></div>
	    		<span>d</span>
	    		<div class="x-live_administrate">
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_mic.png" style="width:10px;height:20px;margin-top:5px;margin-left:20px"></a>
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_jiantou.png" style="width:20px;height:20px;margin-top:5px;margin-left:20px"></a>
	    		</div>
	    	</div>
	    	<div class="x-live_list05">
	    		<a href="#">
	    			<img src="__PUBLIC__/assets/images/x-meinv.jpg">
	    			<div class="x-live_mask05"><img src="__PUBLIC__/assets/images/x_big_sxt.png"></div>
	    		</a>
	    		<a href="javascript:" class="x-live_love">❤</a>
	    		<div class="x-live_triangle"></div>
	    		<span>e</span>
	    		<div class="x-live_administrate">
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_mic.png" style="width:10px;height:20px;margin-top:5px;margin-left:20px"></a>
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_jiantou.png" style="width:20px;height:20px;margin-top:5px;margin-left:20px"></a>
	    		</div>
	    	</div>
	    	<div class="x-live_list06">
	    		<a href="#">
	    			<img src="__PUBLIC__/assets/images/x-meinv.jpg">
	    			<div class="x-live_mask06"><img src="__PUBLIC__/assets/images/x_big_sxt.png"></div>
	    		</a>
	    		<a href="javascript:" class="x-live_love">❤</a>
	    		<div class="x-live_triangle"></div>
	    		<span>f</span>
	    		<div class="x-live_administrate">
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_mic.png" style="width:10px;height:20px;margin-top:5px;margin-left:20px"></a>
	    			<a href=""><img src="__PUBLIC__/assets/images/x_tb_jiantou.png" style="width:20px;height:20px;margin-top:5px;margin-left:20px"></a>
	    		</div>
	    	</div>
	    </div>
	    <div class="x-live_main_right">
	    	<div class="x-live_main_right_main">
	    		<div class="x-live_main_right_top">
	    			<h1>管理员窗口</h1>
	    			<img src="__PUBLIC__/assets/images/x-meinv.jpg">
	    		</div>
	    		<div class="x-live_main_right_bottom">
	    			<div class="x-live_notice">
	    				<a id="x-notice_left">公告</a><a id="x-notice_right">成员信息</a>
	    				<div class="x-live_notice_sj"></div>
	    			</div>
	    			<div class="x-live_notice_main">
		    				<div class="x-live_notice_left">
		    					<h2>管理员：</h2>
		    					<div class="x-notice_detail">
		    						<p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
		    						
		    					</div>
		    					<textarea></textarea>
		    					<button>发表</button>
		    				</div>
		    				<div class="x-live_notice_right">
		    					<h3 class="x-live_notice_set">房间设置：<a>打开</a><em>(默认关闭)</em></h3>
		    					<h3 class="x-live_notice_set">成员信息：<a>打开</a><em>(默认关闭)</em></h3>
		    					<h3 class="x-live_notice_set">语音设置：<a>打开</a><em>(默认关闭)</em></h3>
		    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>











</div>
<include file='public/foot' />
<script src="__PUBLIC__/assets/js/plupload.js"></script>
<script type="text/javascript">
	$(".x-live_list01").mouseover(function(){
		$(".x-live_mask01").stop().animate({bottom:"0%"},500);
	})
	$(".x-live_list01").mouseout(function(){
		$(".x-live_mask01").stop().animate({bottom:"-100%"},500);
	})
	$(".x-live_list02").mouseover(function(){
		$(".x-live_mask02").stop().animate({bottom:"0%"},500);
	})
	$(".x-live_list02").mouseout(function(){
		$(".x-live_mask02").stop().animate({bottom:"-100%"},500);
	})
	$(".x-live_list03").mouseover(function(){
		$(".x-live_mask03").stop().animate({bottom:"0%"},500);
	})
	$(".x-live_list03").mouseout(function(){
		$(".x-live_mask03").stop().animate({bottom:"-100%"},500);
	})
	$(".x-live_list04").mouseover(function(){
		$(".x-live_mask04").stop().animate({bottom:"0%"},500);
	})
	$(".x-live_list04").mouseout(function(){
		$(".x-live_mask04").stop().animate({bottom:"-100%"},500);
	})
	$(".x-live_list05").mouseover(function(){
		$(".x-live_mask05").stop().animate({bottom:"0%"},500);
	})
	$(".x-live_list05").mouseout(function(){
		$(".x-live_mask05").stop().animate({bottom:"-100%"},500);
	})
	$(".x-live_list06").mouseover(function(){
		$(".x-live_mask06").stop().animate({bottom:"0%"},500);
	})
	$(".x-live_list06").mouseout(function(){
		$(".x-live_mask06").stop().animate({bottom:"-100%"},500);
	})
	$(".x-live_love").toggle(function(){
		$(this).css("color","#d63f5e");
	},function (){
		$(this).css("color","white");
	})
	$("#x-notice_left").mouseover(function(){
		$(".x-live_notice_sj").stop().animate({left:"24%"},500);
		$(".x-live_notice_main").stop().animate({left:"0%"},500);
	})
	$("#x-notice_right").mouseover(function(){
		$(".x-live_notice_sj").stop().animate({left:"74%"},500);
		$(".x-live_notice_main").stop().animate({left:"-100%"},500);
	})
</script>