<include file='public/header' />


<!-- ft_info_box -->
<div class="content">
   	<div class="x-browse">
   		<div class="x-browse_main">
   			<div class="x-browse_main_photo">
   				<img src="__PUBLIC__/assets/images/meinv.png" width="70%" height="100%">
				<div class="x-browse_chart"></div>	
   			</div>
   			<div class="x-browse_main_detail">
   				<div class="x-browse_main_detail_name"><h1>贾某某</h1> <img src="__PUBLIC__/assets/images/browse02.png"><img src="__PUBLIC__/assets/images/browse01.png"><img src="__PUBLIC__/assets/images/browse03.png"><img src="__PUBLIC__/assets/images/browse04.png"><img src="__PUBLIC__/assets/images/browse05.png"></div>
   				<h3>24岁/170cm/本科/辽宁沈阳</h3>
   				<ul>
	   				<li>听音乐</li>
	   				<li>读书</li>
	   				<li>宅</li>
	   				<li>温柔</li>
	   				<li>孝顺</li>
	   				<li>有责任心</li>
   				</ul>
   				<p><a>打招呼</a><a>送礼物</a><a>关注Ta</a></p>
   				<div class="x-browse_main_detail_p"><span>内心独白：</span>我一直在这里，没有离开，我一直在等待，等着那个和我终生相伴相爱一生的你的出现。因缘而聚，我始终这样认为，所以觉得这里真的很好，美丽的缘分，也许就是给我的最美丽的暗示吧。</div>
   			</div>
   		</div>	
   		<div class="x-browse_detail">
   			<div class="slideTxtBox">
	            <div class="hd">
	                <ul>
	                    <li>她的资料</li>
	                    <li>她的礼物</li>
	                </ul>
	            </div>
	            <div class="bd">
		            <ul>
		            	<div class="box_center">
		            		<div class="x-browse_detailtable">
		            			<table>
		            				<tr>
		            					<td width="50%">籍贯：<span>保密</span></td><td width="50%">婚姻：<span>未婚</span></td>
		            				</tr>
		            				<tr>
		            					<td>体重：<span>保密</span></td><td>身高：<span>173cm</span></td>
		            				</tr>
		            				<tr>
		            					<td>学历：<span>初中及以下</span></td><td>职业：<span>保密</span></td>
		            				</tr>
		            				<tr>
		            					<td>月薪：<span>2000-5000元</span></td><td>住房：<span>租房</span></td>
		            				</tr>
		            				<tr>
		            					<td>是否想要小孩：<span>想</span></td><td>能否接受异地恋：<span>能</span></td>
		            				</tr>
		            				<tr>
		            					<td>最喜欢的异性类型：<span>善解人意</span></td><td>能否接受婚前性行为：<span>能</span></td>
		            				</tr>
		            				<tr>
		            					<td>是否愿意与父母同住：<span>愿意</span></td><td>最有美丽的部位：<span>鼻梁</span></td>
		            				</tr>
		            			</table>
		            			<p><span style="font-size:16px">联系信息</span>　以下资料在公开时会提醒您是否公开联系方式</p>
		            			<table>
		            				<tr>
		            					<td width="50%">手机号码：<span>111111111</span></td><td width="50%">电话号码：<span></span></td>
		            				</tr>
		            				<tr>
		            					<td>微信号：<span></span></td><td>QQ：<span></span></td>
		            				</tr>
		            				<tr>
		            					<td>其他联系方式：<span></span></td><td>职业：<span></span></td>
		            				</tr>
		            			</table>
		            		</div>
		            	</div>
		            </ul>
		            <ul>
		            	<div class="box_center">
			            	<div class="x-ta_gift_list">
			            		<a class="x-gift_left"><img src="__PUBLIC__/assets/images/x_tb_left.png"></a>
			            		<div class="x-gift_gift_carousel">
				            		<ul class="x-gift_list_carousel">
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift1.png"><p>10克拉钻戒</p></li>
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift2.png"><p>爱心天鹅</p></li>
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift3.png"><p>爱心早餐</p></li>
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift4.png"><p>爱心枕</p></li>
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift5.png"><p>彩虹伞</p></li>
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift6.png"><p>敞篷跑车</p></li>
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift7.png"><p>创意花束</p></li>
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift_8.png"><p>粉抱枕</p></li>
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift9.png"><p>海洋之心</p></li>
				            			<li class="x-gift_photo"><img src="__PUBLIC__/assets/images/gift10.png"><p>金苹果</p></li>
				            		</ul>
			            		</div>
			            		<a class="x-gift_right"><img src="__PUBLIC__/assets/images/x_tb_right.png"></a>
			            	</div>
			            	<div class="x-gift_give">
			            		<p><img src="__PUBLIC__/assets/images/x_tb_gift.png">请选择礼物！数量<input dir="rtl" type="text" name="" value="">个(<span>*</span>会员每天*个)</p>
			            		<a>赠送</a><a>充值</a>
			            	</div>
		            	</div>
		            </ul>
	            </div>
            </div>
   		</div>
   	</div> 

















</div>
<include file='public/foot' />
<script src="__PUBLIC__/assets/js/plupload.js"></script>
<script type="text/javascript">
	$(".x-gift_left").click(function(){
		var leftVal = $(".x-gift_list_carousel").offset().left,
		lf = leftVal - 385;
		//console.log(leftVal);
		$(".x-gift_list_carousel").animate({left: lf + 'px'});
	})
	$(".x-gift_right").click(function(){
		var leftVal = $(".x-gift_list_carousel").offset().left,
		lf = leftVal + -185;
		//console.log(leftVal);
		$(".x-gift_list_carousel").animate({left: lf + 'px'});
	})
	$(".x-gift_photo").click(function(){
		$(this).find('img').css("border","1px solid #ff7694");
		$(this).siblings().find('img').css("border","1px solid #d2d2d2");
	})
</script>