<include file='public/header' />
<!-- ft_info_box -->
<div class="content">
   <a class="x-happiness">
   <img src="__PUBLIC__/assets/images/x_online_bg.png" height="100%" width="68%">
   <p>幸福在线一台</p>
   <div class="x-camera">
   		<img src="__PUBLIC__/assets/images/x-sxt.png">
   		<span>5</span>
   </div>
   </a>
	<a class="x-happiness">
   <img src="__PUBLIC__/assets/images/x_online_bg.png" height="100%" width="68%">
   <p>幸福在线二台</p><h2>即将开放，敬请期待！</h2>
   <div class="x-online-mask">
   
   </div>
   </a>
   <a class="x-happiness">
   <img src="__PUBLIC__/assets/images/x_online_bg.png" height="100%" width="68%">
   <p>幸福在线三台</p>
   <h2>即将开放，敬请期待！</h2>
   <div class="x-online-mask">
   
   </div>
   </a>
   <a class="x-happiness">
   <img src="__PUBLIC__/assets/images/x_online_bg.png" height="100%" width="68%">
   <p>幸福在线四台</p><h2>即将开放，敬请期待！</h2>
   <div class="x-online-mask">
   
   </div>
   </a>

	<div class="x-online_page">
	<a>上一页</a>
		<a style="color:#f76984">1</a><a>2</a><a>3</a>
        <a>4</a>
        
        
        
        <a>下一页</a>
	</div>


</div>
<include file='public/foot' />
<script src="__PUBLIC__/assets/js/plupload.js"></script>