<include file='public/header' />
<!-- ft_info_box -->
<div class="content">
    <!--左边-->
    <include file='public/spaceleft' />
   <!--右边-->
    <div class="contentright">

        <div class="slideTxtBox">
            <div class="hd">
                <ul>
                    <li>我的访客</li>
                    <li>我的关注</li>
                </ul>
            </div>
            <div class="bd">
            	<ul>
            		<div class="box_center">
            			<div class="x-visitor">
            				<h2>谁访问我(32个)</h2>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            				<div class="x-visitor_detail">
            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
            					<a>查看详情</a>
            				</div>
            			</div>
            			<div class="x-dynamic_page">
            				 <a>下一页</a>
            				 <a>4</a>
            				 <a>3</a>
            				 <a>2</a>
            				 <a style="color:#f76984">1</a>
            				 <a>上一页</a>
            			</div>
            		</div>
            	</ul>
            	<ul>
            		<div class="box_center">
            			<div class="x-my_follow" style="margin-bottom:0px">
            				 <h2><a id="who-follow">谁关注我(32个)</a>　　 <a id="my_follow">我关注谁</a></h2>
            				 <div class="x-who_follow">
	            				<div class="x-visitor_detail">
	            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
	            					<a>查看详情</a>
	            				</div>
	            				<div class="x-visitor_detail">
	            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
	            					<a>查看详情</a>
	            				</div>
	            				<div class="x-visitor_detail">
	            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
	            					<a>查看详情</a>
	            				</div>
	            				<div class="x-visitor_detail">
	            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
	            					<a>查看详情</a>
	            				</div>
            				</div>
            				<div class="x-me_follow">
            					<div class="x-visitor_detail">
	            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
	            					<a>打招呼</a>
	            				</div>
	            				<div class="x-visitor_detail">
	            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
	            					<a>打招呼</a>
	            				</div>
	            				<div class="x-visitor_detail">
	            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
	            					<a>打招呼</a>
	            				</div>
	            				<div class="x-visitor_detail">
	            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
	            					<a>打招呼</a>
	            				</div>
	            				<div class="x-visitor_detail">
	            					<img src="__PUBLIC__/assets/images/meinv.png" width="100%">
	            					<a>打招呼</a>
	            				</div>
            				</div>
            			</div>
            			
            		</div>
            	</ul>
            </div>
        </div> 
		
    </div>

















</div>
<include file='public/foot' />
<script src="__PUBLIC__/assets/js/plupload.js"></script>
<script type="text/javascript">
	$("#who-follow").click(function(){
		$(".x-who_follow").show();
		$(".x-me_follow").hide();
		$("#who-follow").css("color","#f76984");
		$("#my_follow").css("color","#959595");
	})
	$("#my_follow").click(function(){
		$(".x-me_follow").show();
		$(".x-who_follow").hide();
		$("#my_follow").css("color","#f76984");
		$("#who-follow").css("color","#959595");
	})
</script>