<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <title>kuaile</title>
	<link  href="__PUBLIC__/assets/css/newadd.css" rel="stylesheet" type="text/css">
<style>
*{padding:0px;margin:0px}
</style>
</head>
<body>
	<div class="x-whit">
		<img src="__PUBLIC__/assets/images/x_load_bg.jpg" width="100%" height="80%">
		<div class="x-whit_box">
			
		</div>
		<div class="x-whit_box_main">
				<h2>当前排名第3位...</h2>
				<p>(及时更新)</p>
				<a>继 续</a><a>放 弃</a>
			</div>
	</div>
</body>
<script src="__PUBLIC__/assets/js/jquery.min.js"></script>
</html>