<include file='public/header' />
<div class="reg_main">
    <div class="reg_main_l">
        <div style="width: 361px;height:550px;margin-top: -50px;"><img style="width: 100%;height: 100%" src="__PUBLIC__{$re_img['img']}"></div>
        <!--<h2>已经是会员？立即登录</h2>-->
        <!--<a style="border-radius: 5px;" href="{:U('Index/login')}">登录</a>-->
    </div>
    <form>
    <div class="reg_main_r" style="margin-top: 135px;">
        <h2>找 回 密 码</h2>
        <table>
            <tr>
                <td class="form_reg_l">会员账号：</td><td><input placeholder="手机号码或邮箱" class="reg_input areg_input" type="text" id="phone" name="phone" /></td>
                <td class="send"><div class="_send">获取验证码</div></td>
            </tr>
            <tr class="sjyz">
                <td class="form_reg_l">验证码：</td>
                <td ><input placeholder="请输入验证码" class="reg_input" type="text" name="cod" /></td>
                <td style="width: 36%;">
                    <span style="color:red">*</span></td>
            </tr>
            <tr>
                <td class="form_reg_l">设置密码：</td>
                <td ><input placeholder="请输入6-16位的数字和字符" class="reg_input" type="password" name="password" /></td>
                <td style="width: 36%;">
                    <span style="color:red">*</span></td>
            </tr>
            <tr>
                <td class="form_reg_l">确认密码：</td><td><input placeholder="请再输入一次" class="reg_input" type="password" name="repassword" /></td>
                <td style="width: 36%;">
                    <span style="color:red">*</span></td>
            </tr>
            <tr>
                <td class="form_reg_l"></td><td colspan="2">
                <button style="border-radius: 5px;" type="button" class="register sb_mits">确认</button>
                </td>
            </tr>
        </table>
    </div>
    </form>
</div>
<div class="clear"></div>
<include file='public/foot' />
<script src="__PUBLIC__/assets/js/My97DatePicker/WdatePicker.js"></script>
<style>
    body{background: #fff}
    .layui-layer-btn{text-align: center;margin: auto;}
    .layui-layer-btn .layui-layer-btn1{background:#f76984;color: white; border-color: red;}
</style>
<script>
    //找回密码
    $('.sb_mits').click(function(){
        var phone=$('input[name="phone"]').val();
        var code=$('input[name="cod"]').val();
        var password=$('input[name="password"]').val();
        var repassword=$('input[name="repassword"]').val();
        $.post("{:U('Index/zhaohui_password')}",{phone:phone,code:code,password:password,repassword:repassword},function(res){
            if(res.status == 'y'){
                layer.alert(res.info,function(){
                    location.href="{:U('Index/login')}";
                });
            }else{
                layer.alert(res.info);
            }
        });
    })



    //发送短信

    $('.send').click(function(){
                if(tag==true){
                    var i=60
                    var _ph= $('input[name="phone"]').val();
                    var re= /^(1[0-9]{10})|(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/;
                    if(!re.test(_ph)){
                        layer.alert('请输入正确的手机号码或邮箱');
                        return false;
                    } else{
                        tag=false;
                        $.post("{:U('Index/send')}",{"phone":_ph,'num':88},function(data){
                            if(data=='该手机未注册'||data=="该邮箱未注册"){
                                tag=true;
                                layer.alert(data);
                            }else{
                                var lin=  setInterval(function(){
                                    i--;
                                    if(i==0){
                                        $('._send').css('background','#d6405d').html('获取验证码')
                                        tag=true;
                                        clearInterval(lin);
                                    }else{
                                        $('._send').css('background','#ccc').html(i)
                                    }

                                },1000)
                            }
                        });
                    }
                }

                return false;
            }
    )


//    $('.send').click(function(){
//                if(tag==true){
//                    var i=60
//                    var _ph= $('input[name="phone"]').val();
//                    var re= /^(1[0-9]{10})$/;
//                    if(!re.test(_ph)){
//                        layer.alert('请输入正确的手机号码或邮箱');
//                        return false;
//                    }else{
//                        tag=false;
//                        $.post("{:U('Index/send')}",{"phone":_ph,'num':88},function(data){
//                            if(data=='手机号码已存在'){
//                                tag=true;
//                                layer.alert(data);
//                            }else if(data=='手机号码不存在'){
//                                tag=true;
//                                layer.alert(data);
//                            }else{
//                                var lin=  setInterval(function(){
//                                    i--;
//                                    if(i==0){
//                                        $('._send').css('background','#d6405d').html('发送手机验证码')
//                                        tag=true;
//                                        clearInterval(lin);
//                                    }else{
//                                        $('._send').css('background','#ccc').html(i)
//                                    }
//
//                                },1000)
//                            }
//                        });
//                    }
//                }
//                return false;
//    } )
</script>