<include file='public/header' />
<style>
	.green{color:#00e500}
	.close{color:#ff461f}
</style>
<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">优秀会员推荐</strong> / <small>列表</small></div>
    </div>
<if condition="!$user_info">
    <!--多个会员-->
    <form>
    <!--<a style="float:left;margin-right:5%" class="am-btn am-btn-primary del_all"><i class="am-icon-plus"></i>批量删除</a>-->
    <table style="width:90%;margin-left:5%;margin-top:20px" class="am-table am-table-bordered am-table-radius am-table-striped">
        <thead>
        <tr>
            <!--<td width="70px"><input type="checkbox" name="allcheck" value="0"> 全选 </td>-->
            <td>ID</td>
            <td>信息</td>
            <td>推荐位</td>
            <td>图片</td>
            <td width="15%">操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="index_user" id="v">
            <tr class="checka">
                <!--<td><input type="checkbox" name="id[]" value="{$v['id']}" ></td>-->
                <td>{$v.id}</td>
                <td>{$v.xingxi}</td>
                <td>{$v.position}</td>
                <td><image style="height: 100px;width:110px;" src="__PUBLIC__{$v['img']}"/></td>
                <td><a href="{:U('IndexUser/index_user_add',array('id'=>$v['id']))}" class="am-btn am-btn-default am-btn-xs"><i class="am-icon-eye"></i> 编辑 </a>
                    <a href="javascript:if(confirm('确认要删除吗？'))location='{:U('IndexUser/del_youxiu',array('id'=>$v['id']))}' " class="am-btn am-btn-default am-btn-xs" ><i class="am-icon-trash"></i> 删除 </a></td>
            </tr>
        </volist>
        </tbody>
    </table>
    </form>
    <else/>
    <!--单个会员-->
    <table style="width:90%;margin-left:5%;margin-top:20px" class="am-table am-table-bordered am-table-radius am-table-striped">
        <thead>
        <tr>
            <td>生日</td>
            <td>昵称</td>
            <td width="">星座</td>
            <td>年龄</td>
            <td>学历</td>
            <td>微信</td>
            <td>是否结婚</td>
            <td>职业</td>
            <td>月收入</td>
            <td>省</td>
            <td>市</td>
            <td width="15%">操作</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{$user_info.birthday}</td>
                <td>{$user_info.nick_name}</td>
                <td>{$user_info.constellation}</td>
                <td>{$user_info.age}</td>
                <td>{$user_info.education}</td>
                <td>{$user_info.wixin}</td>
                <if condition="$v['marriage'] eq 2">
                    <td class="green">已婚</td>
                    <else/>
                    <td>未婚</td>
                </if>
                <td>{$user_info.job}</td>
                <td>{$user_info.mon_money}</td>
                <td>{$user_info.province}</td>
                <td>{$user_info.city}</td>
                <td>
                    <a href="javascript:if(confirm('确认要删除该会员吗？'))location='{:U('Index/del_home',array('id'=>$user_info['user_id']))}' " class="am-btn am-btn-default am-btn-xs" ><i class="am-icon-trash"></i> 删除 </a></td>
            </tr>
        </tbody>
    </table>
</if>
<div style="float: right;" class="pagelist">
    {$page}
</div>
<include file='public/footer' />
<script>
    //全选
    $("input[name='allcheck']").change(function(){
        if($("input[name='allcheck']").prop('checked') == true){
            $(".checka input").prop('checked',true);
        }else{
            $(".checka input").prop('checked',false);
        }
    })
    //批量删除
    $(".del_all").click(function(){
        if(confirm('确认要删除吗？')){
            var ids = $(this).closest('form').serialize();
            $.get("{:U('Index/del_all_user')}",ids,function(res){
                if(res.status == 'y'){
                    alert(res.info);
                    history.go(0);
                }else{
                    alert(res.info);
                }
            })
        }
        return false;
    })
</script>
