<include file='public/header' />
<style>
	.x-index_search{
	width:100%;height:500px;padding-left:22%;overflow:visible;
	}
.pagelist{ text-align:center; background:none;float:right;margin-right:5%}
.pagelist a{ margin:0 2px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:14px; background:#fff; color:black;}
.pagelist span{ margin:0 2px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:14px; color:#6185a2; color:black; background:#6185a2;}
</style>
<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">审核管理</strong> / <small>评论审核</small></div>
    </div>
<form>
    <a style="float:left; margin:15px auto; margin-left:85px;padding:5px;display: block;" class="am-btn am-btn-primary del_all"><i class="am-icon-plus"></i>批量删除</a>
    <a style="float:left; margin:15px auto; margin-left:57px;padding:5px;display: block;" class="am-btn am-btn-primary shenhe_all"><i class="am-icon-plus"></i>批量审核</a>
    <!--<a style="float:left; margin:15px auto; margin-left:57px;padding:5px;display: block;" class="am-btn am-btn-primary tuikuan"><i class="am-icon-plus"></i>退款</a>-->
    <table style="width:90%;margin-left:5%;margin-top:20px" class="am-table am-table-bordered am-table-radius am-table-striped">
    	<thead>
	    	<tr>
                <td width="70px"><input type="checkbox" name="allcheck" value="0"> 全选 </td>
                <td>id</td>
		    	<td width="11%">评论人</td>
                <td width="11%">评论时间</td>
                <td width="">评论内容</td>
		    	<td width="11%">是否审核</td>
		    	<td width="10%">操作</td>
	    	</tr>
    	</thead>
    	<tbody>
    	<volist name="comments" id="v">
    		<tr class="checka">
                <td><input type="checkbox" name="id[]" value="{$v['id']}" ></td>
                <td>{$v.id}</td>
	    		<td>{$v['uid']|get_uid_name}</td>
                <td>{$v['p_time']|date="Y-m-d",###}</td>
                <td>{$v['p_content']|_substr=###,"50"}</td>
                <if condition="$v['p_status'] eq 0">
	    		<td>未审核</td>
                <else/>
                <td style="color:red;">已审核</td>
                </if>
	    		<td><a class="am-btn am-btn-default am-btn-xs shenhe" data_id="{$v['id']}"><i class="am-icon-wrench"></i> 审核 </a>
                    <a href="javascript:if(confirm('确认要删除吗？'))location='{:U('Shenhe/del_comment',array('id'=>$v['id']))}' " class="am-btn am-btn-default am-btn-xs x-delete">
                    <i class="am-icon-trash"></i> 删除 </a>
                </td>
	    	</tr>
	    </volist>
    	</tbody>
    	
	</table>
</form>
    <div class="pagelist">{$page}</div>
<include file='public/footer' />
<script type="text/javascript">
   $(".shenhe").click(function(){
        var id=$(this).attr('data_id');
        var  $_this=$(this);
       $.post("{:U('Shenhe/comment_shenhe')}",{id:id},function(res){
            if(res.status == 1){
                $_this.parent().prev().html('已审核');
                $_this.parent().prev().css('color','red');
            }else{
                $_this.parent().prev().html('未审核');
                $_this.parent().prev().css('color','black');
            }
       },'json')
   })
   //批量审核
   $(".shenhe_all").click(function(){
       var ids = $(this).closest('form').serialize();
       $.get("{:U('Shenhe/shenhe_all_comment')}",ids,function(res){
           if(res.status == 1){
               alert('审核成功');
               history.go(0);
           }
       },'json')
   })
   //全选
   $("input[name='allcheck']").click(function(){
       if($("input[name='allcheck']").prop('checked') == true){
           $(".checka input").prop('checked',true);
       }else{
           $(".checka input").prop('checked',false);
       }
   })
   //批量删除
   $(".del_all").click(function(){
       if(confirm('确认要删除吗？')){
           var ids = $(this).closest('form').serialize();
           $.get("{:U('Shenhe/del_all_comment')}",ids,function(res){
               if(res.status == 'y'){
                   alert(res.info);
                   history.go(0);
               }else{
                   alert(res.info);
               }
           })
       }
       return false;
   })
    //退款
    $('.tuikuan').click(function(){
        $.post("{:U('Shenhe/')}")
    })
</script>
