<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>幸福在线管理系统</title>
    <meta name="description" content="快乐在线">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
    <!-- <script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/kindeditor.js"></script> -->
</head>
<style>
	.x-index_search{
	width:100%;height:500px;padding-left:22%;overflow:visible;
	}
.pagelist{ text-align:center; background:none;float:right;margin-right:5%}
.pagelist a{ margin:0 2px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:14px; background:#fff; color:black;}
.pagelist span{ margin:0 2px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:14px; color:#6185a2; color:black; background:#6185a2;}
</style>
<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">审核管理</strong> / <small>说说图片审核</small></div>
    </div>
<form>
<!--<a style="float:left; margin:15px auto; margin-left:85px;padding:5px;display: block;" class="am-btn am-btn-primary del_all"><i class="am-icon-plus"></i>批量删除</a>-->
    <a style="float:left; margin:15px auto; margin-left:57px;padding:5px;display: block;"  class="am-btn am-btn-primary shenhe"><i class="am-icon-plus"></i>审核说说与图片</a>
    <a style="float:left; margin:15px auto; margin-left:57px;padding:5px;display: block;"  class="am-btn am-btn-primary tuikuan"><i class="am-icon-plus"></i>退款</a>
    <table style="width:90%;margin-left:5%;margin-top:20px" class="am-table am-table-bordered am-table-radius am-table-striped">
    	<thead>
	    	<tr>
                <!--<td width="70px"><input type="checkbox" name="allcheck" value="0"> 全选 </td>-->
                <td>id</td>
		    	<td>说说图片</td>
                <td width="">发布时间</td>
		    	<td width="">是否审核</td>
		    	<td width="10%">操作</td>
	    	</tr>
    	</thead>
    	<tbody>
    	<volist name="images" id="v">
    		<tr class="checka">
               <!-- <td><input type="checkbox" name="id[]" value="{$v['id']}" ></td>-->
                <td>{$v.id}</td>
	    		<td><image style="height: 100px;width:auto;" src="__PUBLIC__{$v['img']}"/></td>
                <td>{$v['time']|date="Y-m-d",###}</td>
                <if condition="$v['status'] eq 0">
	    		<td>未审核</td>
                <else/>
                <td style="color:red;">已审核</td>
                </if>
	    		<td><!--<a class="am-btn am-btn-default am-btn-xs shenhe" data_id="{$_GET['id']}"><i class="am-icon-wrench"></i> 审核 </a>-->
                    <a href="javascript:if(confirm('确认要删除吗？'))location='{:U('Shenhe/del_message_image',array('id'=>$v['id']))}' " class="am-btn am-btn-default am-btn-xs x-delete">
                    <i class="am-icon-trash"></i> 删除</a>
                </td>
	    	</tr>
	    </volist>
    	</tbody>
	</table>
</form>
	<div class="pagelist">{$page}</div>
<include file='public/footer' />
<script type="text/javascript">
    $(".shenhe").click(function(){
        var id="{$_GET['id']}";
        var p="{$_GET['p']}";
        $.post("{:U('Shenhe/shenhe_message_images')}",{id:id},function(res){
            if(res.status == 1){
               layer.alert('审核成功 ',function(){
                   parent.location.href="{:U('Shenhe/message')}"+"?p="+p;
                   var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                   parent.layer.close(index);
               });
            }else{
                layer.alert('审核失败');
            }
        },'json')
    })
   //批量审核
//   $(".shenhe_all").click(function(){
//       var ids = $(this).closest('form').serialize();
//       $.get("{:U('Shenhe/shenhe_message_images')}",ids,function(res){
//           if(res.status == 1){
//               alert('审核成功');
//               history.go(0);
//           }
//       },'json')
//   })
    //单个退款
    $('.tuikuan').click(function(){
        layer.confirm('确认退款?',function(){
            var id="{$_GET['id']}";
            var p="{$_GET['p']}";
            $.post("{:U('Shenhe/message_tuikuan')}",{id:id},function(res){
                if(res.status == 4){
                    layer.alert('退款成功',function(){
                        parent.location.href="{:U('Shenhe/message')}"+"?p="+p;
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                    })
                }
            },'json')
        })

    })
   //全选
   $("input[name='allcheck']").click(function(){
       if($("input[name='allcheck']").prop('checked') == true){
           $(".checka input").prop('checked',true);
       }else{
           $(".checka input").prop('checked',false);
       }
   })
   //批量删除
    $(".del_all").click(function(){
       if(confirm('确认要删除吗？')){
           var ids = $(this).closest('form').serialize();
           $.get("{:U('Shenhe/del_all_love_images')}",ids,function(res){
               if(res.status == 'y'){
                   alert(res.info);
                   history.go(0);
               }else{
                   alert(res.info);
               }
           })
       }
       return false;
   })
</script>
