<include file='public/header' />
<style>
	.x-index_search{
	width:100%;height:500px;padding-left:22%;overflow:visible;
	}
.pagelist{ text-align:center; background:none;float:right;margin-right:5%}
.pagelist a{ margin:0 2px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:14px; background:#fff; color:black;}
.pagelist span{ margin:0 2px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:14px; color:#6185a2; color:black; background:#6185a2;}
</style>
<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">审核管理</strong> / <small>搜索说说</small></div>
    </div>

    <!--<div class="x-add_admin">
	    <form action="{:U('Shenhe/search_message')}" method="get">
            <div style="float:left;width:50%" class="am-input-group">
                <input type="text" value="{$_GET['search_name']}" name="search_name" class="am-form-field" placeholder="请输入昵称" >
                <input type="text" value="{$_GET['search_time']}" name="search_time" class="am-form-field" placeholder="请输入时间" >
                <select name="status">
                    <option value="">请选择</option>
                    <option value="1" <if condition="$_GET['status'] eq 1">selected="selected"</if> >审核</option>
                    <option value="0" <if condition="$_GET['status'] eq 0">selected="selected"</if> >未审核</if></option>
                </select>
	      <span class="am-input-group-btn">
	        <button class="am-btn am-btn-default" type="submit">搜索</button>
	      </span>
            </div>
	    </form>
	    <div style="clear:both">
	    </div>
    </div>-->
<form action="{:U('Shenhe/search_message')}" method="get">
    <div class="x-add_admin">
        <div style="float:left;margin-right:20px">
            <select name="status" data-am-selected>
                <option>请选择</option>
                <option value="1" <if condition="$_GET['status'] eq 1">selected="selected"</if> >审核</option>
                <option value="0" <if condition="$_GET['status'] eq 0">selected="selected"</if> >未审核</option>
            </select>
        </div>
        <div style="float:left;margin-right:20px;width:20%" class="am-input-group">
            <input name="search_name" value="{$_GET['search_name']}"  type="text" class="am-form-field" placeholder="请输入昵称" >
        </div>
        <div style="float:left;width:25%" class="am-input-group">
            <input name="search_time" value="{$_GET['search_time']}"  type="text" class="am-form-field" placeholder="请输入时间" >
	      <span class="am-input-group-btn">
	        <button class="am-btn am-btn-default" type="submit">搜索</button>
	      </span>
        </div>
        <div style="clear:both">
        </div>
    </div>
</form>
<form>
<a style="float:left; margin:15px auto; margin-left:85px;padding:5px;display: block;" class="am-btn am-btn-primary del_all"><i class="am-icon-plus"></i>批量删除</a>
    <a style="float:left; margin:15px auto; margin-left:57px;padding:5px;display: block;" class="am-btn am-btn-primary shenhe_all"><i class="am-icon-plus"></i>批量审核</a>
    <table style="width:90%;margin-left:5%;margin-top:20px" class="am-table am-table-bordered am-table-radius am-table-striped">
    	<thead>
	    	<tr>
                <td width="70px"><input type="checkbox" name="allcheck" value="0"> 全选 </td>
                <td>id</td>
                <td width="11%">发布人</td>
		    	<td>图片</td>
                <td width="11%">发布时间</td>
		    	<!--<td>网站币</td>-->
		    	<td>内容</td>
                <td width="10%">是否审核</td>
		    	<td width="10%">操作</td>
	    	</tr>
    	</thead>
    	<tbody>
    	<volist name="search_list" id="v">
    		<tr>
                <td><input type="checkbox" name="id[]" value="{$v['id']}" ></td>
                <td>{$v.id}</td>
                <td>{$v['uid']|get_uid_name}</td>
	    		<td><image style="height: 100px; width:110px;" src="__PUBLIC__{$v.img}"/></td>
	    		<td>{$v['pub_time']|date="Y-m-d",###}</td>
	    		<!--<td>{$v['love_money']}</td>-->
	    		<td>{$v['content']|_substr=###,"65"}</td>
                <if condition="$v['m_status'] eq 0">
	    		<td>未审核</td>
                <else/>
                <td style="color:red;">已审核</td>
                </if>
	    		<td><a class="am-btn am-btn-default am-btn-xs shenhe" data_id="{$v['id']}"><i class="am-icon-wrench"></i> 审核 </a>
                    <a href="javascript:if(confirm('确认要删除吗？'))location='{:U('Shenhe/del_message',array('id'=>$v['id']))}' " class="am-btn am-btn-default am-btn-xs x-delete">
                    <i class="am-icon-trash"></i> 删除 </a>
                    <a class="am-btn am-btn-default am-btn-xs" href="{:U('Shenhe/comments',array('id'=>$v['id']))}"><i class="am-icon-wrench"></i> 评论 </a>
                    <a class="am-btn am-btn-default am-btn-xs" href="{:U('Shenhe/message_images',array('id'=>$v['id']))}"><i class="am-icon-wrench"></i> 图片 </a>
                </td>
	    	</tr>
	    </volist>
    	</tbody>

	</table>
</form>
	<div class="pagelist">{$page}</div>
<include file='public/footer' />
<script type="text/javascript">
    $(".shenhe").click(function(){
        var id=$(this).attr('data_id');
        var  $_this=$(this);
        $.post("{:U('Shenhe/message_shenhe')}",{id:id},function(res){
            if(res.status == 1){
                $_this.parent().prev().html('已审核');
                $_this.parent().prev().css('color','red');
            }else{
                $_this.parent().prev().html('未审核');
                $_this.parent().prev().css('color','black');
            }
        },'json')
    })
    //批量审核
    $(".shenhe_all").click(function(){
        var ids = $(this).closest('form').serialize();
        $.get("{:U('Shenhe/shenhe_all_message')}",ids,function(res){
            if(res.status == 1){
                alert('审核成功');
                history.go(0);
            }
        },'json')
    })
    //全选
    $("input[name='allcheck']").click(function(){
        if($("input[name='allcheck']").prop('checked') == true){
            $(".checka input").prop('checked',true);
        }else{
            $(".checka input").prop('checked',false);
        }
    })
    //批量删除
    $(".del_all").click(function(){
        if(confirm('确认要删除吗？')){
            var ids = $(this).closest('form').serialize();
            $.get("{:U('Shenhe/del_all_message')}",ids,function(res){
                if(res.status == 'y'){
                    alert(res.info);
                    history.go(0);
                }else{
                    alert(res.info);
                }
            })
        }
        return false;
    })
</script>
